MC_VERSION=1.21.11
NEOFORGE_VERSION=beta
MC_PORT=6767
MC_MANAGEMENT_PORT=25585
PANEL_PORT=3000
PANEL_HTTP_PORT=8080
TZ=Etc/UTC
UID=1000
GID=1000
MEMORY=12G
INIT_MEMORY=2G
SERVER_NAME=Modded MC Server
MOTD=A NeoForge-ready Minecraft server
MAX_PLAYERS=20
DIFFICULTY=normal
MODE=survival
PVP=true
ONLINE_MODE=true
ENABLE_WHITELIST=false
OPS=
